
// Import page-specific CSS files here.

html, body{
  background-color: #F8F7F2;
}

#genius_card{
  background-color: #B7B4A2;
  position: relative;
  border-radius:0.75rem!important;
  color: white;
  transition-timing-function: ease-in-out;
  transition: 1s;

.space_flex{
  display: flex;
  justify-content: space-between;
}
a {
  color:white;
}


}

#genius_card:hover{
  background-color: #ECBB6B;
}


.notice{
  padding: 0;
  margin: 0;
}

@import "home";
@import "show.scss";
@import "../components/navbar"
