
    <div class="row mb-5" style="z-index: 99; position: relative;">
        <div class="col-12" id="navbar">
            <div class="d-flex align-items-center">
            <div class="mr-auto "><%= image_tag "Brain_logo_black.png", alt: "Le Wagon", width: 50 %></div>
            <div class="p-5"><%= link_to "Brainz", brains_path %></div>
            <div class="p-5"><h6>About Us</h6></div>
            <div class="p-5"><h6>Log In</h6></div>
        </div>
      </div>
