<div class="home">

 <canvas width='1000px' height='1200px'></canvas>

<div class="wrapper">
  <div class="container">
  <div class="row">
  <div class="col-12">
           <h1 class="display-2" style="font-weight: 500;border-bottom: 2px solid white">Rent Your Brain</h1>
          <h5 class="" style="line-height:30px; color:white">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </h5>
          <button type="button" class="btn btn-primary btn-lg mt-5">Join</button>
    </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row mb-5" style="z-index: 99; position: relative;">
        <div class="col-12" id="navbar">
            <div class="d-flex align-items-center">
            <div class="mr-auto "><%= image_tag "logo4.png", alt: "Le Wagon", width: 50 %></div>
            <div class="p-5"><h6>Brainz</h6></div>
            <div class="p-5"><h6>About Us</h6></div>
            <div class="p-5"><h6>Log In</h6></div>
        </div>
      </div>



    </div>



</div>
